*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-weight: 600;
}
h3{
    font-weight: 600;
}

.title{
    color: white;
    background-color: #22668D;
    border-radius:10px;
    display: flex;
    justify-content: left;
    padding: 1.5rem;
    padding-top: 2rem;
    margin-bottom:0.5rem;
    margin-top:-0.5rem;
    height: 120px;   
    
  align-items: baseline;
}
.contenido{
    padding-top: 5px;
}