  <ion-content [fullscreen]="true">
    <div class="title">
      <h1>Billetera</h1>
    </div>  
    
    <div class="contenido">
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Mateo Saavedra</ion-card-title>
          <ion-card-subtitle>Cuenta 1 </ion-card-subtitle>
          <ion-card-subtitle>4074-2562-0040-6958</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content >
          CVV/CVV2: 075  -   
          Card Expiry: 9/2025     
        </ion-card-content>
      
        <ion-button fill="clear">Retirar</ion-button>
        <ion-button fill="clear">Depositar</ion-button>
      </ion-card>
     
      <ion-card>
        <ion-card-header>
          <ion-card-title>Carlos Mauricio</ion-card-title>
          <ion-card-subtitle>Cuenta 2 </ion-card-subtitle>
          <ion-card-subtitle>4072-5745-8318-2083
          </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content >
          CVV/CVV2: 075  -   
          Card Expiry: 9/2025     
        </ion-card-content>
      
        <ion-button fill="clear">Retirar</ion-button>
        <ion-button fill="clear">Depositar</ion-button>
      </ion-card>
    </div>
  
    
  </ion-content>
  
